.list__item {
  text-align: center;
}

.list__checkmark {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: crimson;
}

.list__name {
  display: block;
}
